
# New Jersey / US-East lane
REDIS_URL=redis://localhost:6379/0
RPC_PRIMARY=https://api.mainnet-beta.solana.com
JITO_RELAYS=newyork.mainnet.block-engine.jito.wtf,newjersey.mainnet.block-engine.jito.wtf,singapore.mainnet.block-engine.jito.wtf
REGION=nj-us
